/*
Try dragging the brown circle around. The blue box marks the draggable area of the circle's center.

At the bottom of the JS code, the 'draw' function is called. Try changing the input arguments to see what happens!
*/
body
{
    font-family: 'Lato', Arial, sans-serif;
    font-size: 30px;

    color: #414042;
    background: #25bda8;
}
#widget {
  border: 1px solid black;
  padding: 30px;
}

#markerbounds {
  position: relative;
}

#box {
  background-color: lightsteelblue;
  position: absolute;
}

#marker {
  position: relative;
  background-color: brown;
  border-radius: 100px;
}

.coord {
  font-family: serif;
  font-size: 10px;
  

}

.coord div {display: inline-block;}

#y {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: relative;
  width: 60px;
  
}

#x {
  position: relative;

}


